certifi>=2017.4.17
chardet<4,>=3.0.2
empath==0.89
ibm-cloud-sdk-core==1.7.3
ibm-watson==5.0.0
idna<3,>=2.5
matplotlib
numpy
pandas
plotly
PyJWT==1.7.1
python-dateutil>=2.5.3
requests<3.0,>=2.0
seaborn
six
urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
vaderSentiment==3.3.2
websocket-client==0.48.0